.container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input{
  margin:24px 10px;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
}

.button{
  outline: none;
  text-decoration: none;
  background-color: #222;
  color: #fff;
  padding: 15px 10px;
  border-radius: 8px;
  text-transform: capitalize;
}